## Importing and Organizing Your Data in Python - Part II

In [2]:
import requests
from pandas_datareader import data as wb

sesh = requests.Session()
sesh.verify = False

F = wb.DataReader("F", "iex",start="2020-1-1",api_key="pk_9ee76f7e01664c58a751710e0041b3fa", session=sesh)
F

c:\Users\CBlignaut\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'cloud.iexapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

             open   high    low  close    volume
date
2020-01-02   9.29   9.42   9.19   9.42  43432239
2020-01-03   9.31   9.37   9.15   9.21  45059915
2020-01-06   9.10   9.17   9.06   9.16  43380677
2020-01-07   9.20   9.25   9.12   9.25  45334552
2020-01-08   9.23   9.30   9.17   9.25  46003049
...           ...    ...    ...    ...       ...
2022-09-26  12.21  12.38  11.93  11.99  89300368
2022-09-27  12.21  12.22  11.66  11.91  87044435
2022-09-28  11.91  12.24  11.76  12.18  72701565
2022-09-29  11.85  11.88  11.36  11.47  84534890
2022-09-30  11.39  11.53  11.19  11.20  71688194

[693 rows x 5 columns]

Use the “info” method to obtain basic statistics, regarding the data you extracted in the previous exercise (data from Morningstar for Ford starting from the 1st of January 2005 until today).

In [3]:
F.info()

<class 'pandas.core.frame.DataFrame'>
Index: 693 entries, 2020-01-02 to 2022-09-30
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    693 non-null    float64
 1   high    693 non-null    float64
 2   low     693 non-null    float64
 3   close   693 non-null    float64
 4   volume  693 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 32.5+ KB

Apply the “head” and “tail” methods and observe the output. How would you interpret the adjusted closing prices?

In [4]:
F.head()

            open  high   low  close    volume
date
2020-01-02  9.29  9.42  9.19   9.42  43432239
2020-01-03  9.31  9.37  9.15   9.21  45059915
2020-01-06  9.10  9.17  9.06   9.16  43380677
2020-01-07  9.20  9.25  9.12   9.25  45334552
2020-01-08  9.23  9.30  9.17   9.25  46003049

In [5]:
F.tail()

             open   high    low  close    volume
date
2022-09-26  12.21  12.38  11.93  11.99  89300368
2022-09-27  12.21  12.22  11.66  11.91  87044435
2022-09-28  11.91  12.24  11.76  12.18  72701565
2022-09-29  11.85  11.88  11.36  11.47  84534890
2022-09-30  11.39  11.53  11.19  11.20  71688194

Practice extracting closing price data from the same source and for the same timeframe. Do this for Apple, Microsoft, Exxon, and British Petroleum. 
Use IEX to find the tickers of these companies, if you don’t already know them.

In [6]:
tickers = ['AAPL', 'MSFT', 'XOM', 'BP']

In [10]:
import pandas

data = pandas.DataFrame()

for t in tickers:
    data[t] = wb.DataReader(t, "iex", start="2020-1-1",api_key="pk_9ee76f7e01664c58a751710e0041b3fa", session=sesh)["close"]

c:\Users\CBlignaut\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'cloud.iexapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
c:\Users\CBlignaut\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'cloud.iexapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
c:\Users\CBlignaut\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'cloud.iexapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(
c:\Users\CBlignaut\Anaconda3\lib\site-packages\urllib3\connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'cloud.iexapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

In [11]:
data.tail()

              AAPL    MSFT    XOM     BP
date
2022-09-26  150.77  237.45  83.98  27.26
2022-09-27  151.76  236.41  85.74  27.55
2022-09-28  149.84  241.07  88.86  28.56
2022-09-29  142.48  237.50  88.68  28.75
2022-09-30  138.20  232.90  87.31  28.55

***

Repeat this exercise for any stock of interest to you. :)

In [5]:
import quandl

#Nasdaq Data Link API key = AEgU3zZpzg3T-gQa8mfY
quandl.ApiConfig.api_key = ("AEgU3zZpzg3T-gQa8mfY")
mydata_01 = quandl.get("FRED/GDP")

In [6]:
mydata_01.head()

              Value
Date
1947-01-01  243.164
1947-04-01  245.968
1947-07-01  249.585
1947-10-01  259.745
1948-01-01  265.742