## Calculating the Risk of a Security

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

Load the data for Microsoft (‘MSFT’) for the period ‘2000-1-1’ until today. <br />
Assess the daily and the annual risk of ‘MSFT’. Repeat the exercise for Apple for the same timeframe.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("C:\GitHub\python-finance\python-finance\PART II - Finance\\12 - Measuring Risk\\1 Calculating the Risk of a Security\CSV\MSFT_AAPL_2000_2017.csv", index_col="Date")
data

                 MSFT        AAPL
Date
1999-12-31  38.965767    3.303425
2000-01-03  38.903194    3.596616
2000-01-04  37.589046    3.293384
2000-01-05  37.985374    3.341579
2000-01-06  36.712940    3.052405
...               ...         ...
2017-03-17  64.158463  138.869217
2017-03-20  64.217804  140.327454
2017-03-21  63.505699  138.720413
2017-03-22  64.316704  140.287766
2017-03-23  64.158463  139.791763

[4334 rows x 2 columns]

### MSFT

Daily risk:

In [2]:
MSFT_returns = np.log(data["MSFT"]/data["MSFT"].shift(1))
MSFT_daily_risk = MSFT_returns.std()
MSFT_daily_risk

0.019656948849403593

Annual risk:

In [3]:
MSFT_annual_risk = MSFT_returns.std() * 250 ** 0.5
MSFT_annual_risk

0.3108036510677075

### Apple

Daily risk:

In [4]:
AAPL_returns = np.log(data["AAPL"]/data["AAPL"].shift(1))
AAPL_daily_risk = AAPL_returns.std()
AAPL_daily_risk

0.027761934312069397

Annual risk:

In [5]:
AAPL_annual_risk = AAPL_returns.std() * 250 ** 0.5
AAPL_annual_risk

0.43895472339059527

******

Store the volatilities of the two stocks in an array called “vols”.

In [9]:
returns = np.log(data/data.shift(1))
vols = returns[["MSFT", "AAPL"]].std() * 250 ** 0.5
vols

MSFT    0.310804
AAPL    0.438955
dtype: float64

How are the two risk values different?